
/* css style for the Home global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global-section {
    width: 650px;
    height: 150px;
    background-position: center;
    padding: 15px;
    color: white;
    background-size: cover;
    display: flex;
    border-radius: 10px;
}

.warhammerPhoto {
    background-image: url("/Warhammer-html-files/Index/Images/pinpng.com-warhammer-40k-logo-png-3853949.png");
    margin: 2% 0 2%;
}


.warhammerText {
    padding: 15px;
    display: flex;
    color: White;
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 100%;  
    height: 100%;   
    overflow: auto;
}
.divBackgroundHome {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-size:cover;
}

.bodyBackgroundHome {
    display: block;
    background-size: cover;
    background-image: url("/Warhammer-html-files/Index/Images/wallpaperflare.com_wallpaper.jpg");
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: soft-light;

}

/* Slideshow container */
.slideshow-container {
  max-width: 45%;
  position:relative;
  margin: auto;
  height: 500px;
}

.slideshowSettings{
    width: 100%;
    display: flex;
    height: 100%; 

}
.videoSlide{
  width: 100%;
  height: 100%; 
  display: flex;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gold;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textCaptions {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}