/* css style for the space marine page css global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global-section {
    width: 650px;
    height: 150px;
    background-position: center;
    padding: 15px;
    background-size: cover;
    display: flex;
    border-radius: 10px;
}

.spaceMarinesPhoto {

    background-image: url("/Warhammer-html-files/SpaceMarines/Images/space-marines-warhammer-40k-3.jpg");
    margin: 2% 0 2%;
}

.spaceMarinesContent {
    color: white;
    align-self: center;
    text-align: center;
    margin-left: 30%;
}

.divBackgroundSpaceMarines {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-size: auto;
    justify-content: center;
}

.bodyBackgroundSpaceMarines {
    display: block;
    background-size: cover;
    background-image: url("/Warhammer-html-files/Home/Images/wallpaperflare.com_wallpaper.jpg");
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: soft-light;

}

/* CSS for the Space Marines table section */

table td,
table th {
    border: 1px solid gainsboro;
    padding: 5px;
    text-align: center;
    height: 10px;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    height: 400px;
    width: 50%;
}

table th,
table tr {
    background-color: rgba(255, 255, 255, 0.4);
}

thead {
    font-style: italic;
}

.spaceDivTable {
    justify-content: center;
    display: flex;

}

.chaptersImageName {
    background-repeat: no-repeat;
    background-size: contain;
}

.blackTemplars {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-black-templars-icon.png");
    
}

.bloodAngels {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-blood-angels-icon.png");
}

.darkAngels {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-dark-angels-icon.png");
}

.deathWatch {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/Deathwatchsymbol2.png");
}

.greyKnights {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/grey\ knights.png");
}

.imperialFists {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-imperial-fists-icon.png");
}

.ironHands {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-iron-hands-icon.png");
}

.ravenGuard {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-raven-guard-icon.png");
}

.salamanders {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-salamanders-icon-e1646502293159.png");
}

.spaceWolves {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-space-wolves-icon.png");
}

.ultramarines {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-ultramarines-icon.png");
}

.whiteScars {
    background-image: url("/Warhammer-html-files/SpaceMarines/Images/gh-white-scars-icon.png");
}

tr td:hover {
    background-color: rgba(153, 158, 172, 0.706);
}


/* The Modal (background) */
#myChaptersModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content */
  .modal-content {

    background-color: #d3d1d1;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
  animation-name: animatetop;
  animation-duration: 0.8s;
  margin-top: 205px;
  font-family: 'Abel', sans-serif;
  border-radius: 5px;
  position: relative;
  }

  /* Add Animation */
  @keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
  }

  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 11px;
    top: 5px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .chapTitles{
    text-align: center;
    text-decoration: underline;
  }
  
  .chapContent{
text-align: center;
  }